
Test/sources/pwm\.v~

Test/sources/test\.v~

*.sv~

Testbench/TB_WORK/lib_tb/_info

*.qdb

*.qpg

*.qtl

Testbench/TB_WORK/lib_tb/_vmake

Testbench/TB_WORK/lib_tb_top/_info

*.ini

*.wlf

*.odg#

Testbench/transcripts/test_tasks_transcript.txt

*.pyc

*.tfdb

Testbench/scripts/lib_tb/_info

Testbench/TB_WORK/lib_uart/_info

Testbench/scripts/lib_tb/

Testbench/TB_WORK/lib_uart/

*.bak

Verilog/Testbench/docs/sphinx_doc/build/